###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user

        email                           who-support@us.nature.com
        }


define contact{
	contact_name			Archiva
	alias				Archiva
	email				s.kline@us.nature.com
	host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
        }
define contact{
	contact_name			Archiv
	alias				Archiv
	email				s.george@nature.com
	host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
        }
			
define contact{
	contact_name			Devops
	alias				Dev
	email				hubdev@nature.com	
	host_notification_commands	notify-host-by-email
	host_notification_options	d,u,r
	host_notification_period	24x7
	service_notification_commands   notify-service-by-email
	service_notification_options	w,u,c,r
	service_notification_period     24x7
	}
define contact{
	contact_name			Enver
	email				e.hidalgo@us.nature.com
	host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
        }
define contact{
        contact_name                    Tomasz
        email                           t.wrobel@nature.com
        host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
        }
define contact{
	contact_name			Admins
	use				generic-contact
	alias				Who-Support
	email				who-support@us.nature.com
	}
define contact{
	contact_name			Mariano
	email                           m.gardellini@us.nature.com
        host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
}
define contact{
        contact_name                    Adele
        email                           a.zhou@us.nature.com
        host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
}
define contact{
        contact_name                    Kwadwo
        email                           k.owusu@us.nature.com
        host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
}
define contact{
        contact_name                    Joseph
        email                           j.wong@us.nature.com
        host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
} 
define contact{
        contact_name                    Rene
        email                           r.medalla@us.nature.com
        host_notification_commands      notify-host-by-email
        host_notification_options       d,u,r
        host_notification_period        24x7
        service_notification_commands   notify-service-by-email
        service_notification_options    w,u,c,r
        service_notification_period     24x7
} 

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
        }
define contactgroup{
        contactgroup_name       PSD
        alias                   Production Systems Development
        members                 Mariano, Adele, Kwadwo, Joseph, Rene
        }

define contactgroup{
	contactgroup_name	Naturewebapi
	alias			Naturewebapi
	members			Enver, Tomasz

	}
